openapi: "3.0.1"
info:
  title: "TicketSource API OpenAPI Specification"
  description: |
    This is an OpenAPI 3.0.1 specification describing the TicketSource API
    # Contribution
    PRs welcome at [GitHub](https://github.com/ticketsource/openapi-spec)
  version: "1.0"
  termsOfService: https://www.ticketsource.co.uk/kb/terms-of-use/terms-and-conditions
  contact:
    name: TicketSource API Developer Support
    url: https://www.ticketsource.io
servers:
  - url: https://api.ticketsource.io
    description: Production Server
tags:
  - name: bookings
    description: Booking specific endpoints
  - name: customers
    description: Customer specific endpoints
    externalDocs:
      description: For more information see; Working with Customers
      url: https://www.ticketsource.io/working-with-customers
  - name: dates
    description: Date specific endpoints
    externalDocs:
      description: For more information see; Working with Events
      url: https://www.ticketsource.io/working-with-events
  - name: events
    description: Event specific endpoints
    externalDocs:
      description: For more information see; Working with Events
      url: https://www.ticketsource.io/working-with-events
  - name: venues
    description: Venue specific endpoints
    externalDocs:
      description: For more information see; Working with Events
      url: https://www.ticketsource.io/working-with-events
components:
  parameters:
    $ref: ./components/parameters.yaml
  responses:
    $ref: ./components/responses.yaml
  schemas:
    $ref: ./components/schemas.yaml
  securitySchemes:
    $ref: ./components/securitySchemes.yaml
security:
  - BasicAPIKey: []
  - BearerToken: []
paths:
  $ref: paths.yaml